@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  @apply bg-bgColor text-textColor;
}

.home {
  background-image: url("../public/images/");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-position: 160px -0;
  background-size: contain;
}
